/* .container{
    background: rgb(202, 206, 201);
} */


/* main{
    background: rgb(251, 255, 224);
}

footer{
    background: rgb(226, 173, 230);
}

#section-about {
    background: red;
}

#section-jobs {
    background: brown;
}

#section-skills {
    background: pink;
}

#section-contact {
    background: goldenrod;
}

#section-social-media {
    background: rebeccapurple;
} */